# Entornos virtuales
.venv/
venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de datos o modelos pesados
Data/
Evaluation/
Training/
URDFs/
Textures/
images/

# Librerías compiladas
wheels/*.whl

# Archivos temporales o logs
*.log
*.tmp
*.zip
*.tar
*.gz
